<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> {{ title }}</title>
    <!--===============================================================================================-->	
			<!-- <link rel="icon" type="image/png" href="images/icons/favicon.ico"/> -->
			<link rel="icon" type="image/png" href="{{ url_for('static', filename='images/icons/favicon.ico')}}"/>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/fontawesome.min.css" integrity="sha256-/sdxenK1NDowSNuphgwjv8wSosSNZB0t5koXqd7XqOI=" crossorigin="anonymous" />    
            <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
            <!--===============================================================================================-->
</head>
<body>
    <div class="container-fluid">
        <div class="row">

            <div class="col-2"></div>
            
            <div class="col-8">
                <div class="jumbotron jumbotron-fluid">
                    <div class="container">
                      <h1 class="display-4">Welcome</h1>
                      <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
                    </div>
                  </div>
                {% if produce %}
                {% for product in produce %}
                <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ product.producename }}</h5>
                    <p class="card-text">{{ product.description }} <br>
                        Rating: {{ product.qualityreview }}
                    </p>
                    <a href="#" class="btn btn-primary">Know More</a>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
                </div><br>
                {% endfor %}
                {% else %}
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">Some Error occured</p>
                    </div>
                </div><br>
                {% endif %}
            </div>
        </div>
    </div>
</body>
</html>